*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

:root{
    --primary-color: #0095f6;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.ing_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.ing_phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.ing_phone img{
    height: 50rem;
}

.ing_continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.ing_logo{
    height: 3rem;
}

.profile_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile_photo img{
    width: 6rem;
    height: 6rem;
}

.ing_login{
    background-color: var(--primary-color);
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.ing_logout{
    color: var(--primary-color);
    margin-top: 1rem;
}

.not_account{
    color: rgb(160, 160, 160);
}

.not_account span{
    cursor: pointer;
}

.link_blue{
    color: var(--primary-color);
}

.get_the_app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app_download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app_download:nth-child(1){
    background-image: url("./img/apple-button.png");
}

.app_download:nth-child(2){
    background-image: url("./img/googleplay-button.png");
}

/* media queries */

@media (max-width: 1024px){
    .ing_wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body {
        background-color: white;
    }
    .ing_wrapper{
        width: 90%;
    }
    .ing_phone{
        display: none;
    }
    .ing_continue{
        width: 100%;
    }
    .group{
        border: 1px solid transparent;
    }
}